*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1480px;
    margin:auto;
   
}

/* comann css */
.panada-button{
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
    border: none;
    width: 150px;
    height: 45px;
    color: wheat;
   border-radius: 5px;
}
.main-bg-color{
    background: rgb(244, 244, 244);
}
/* Categories titles */
.Categories-titles{
    width: 203px;
    height: 54px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}
.searce-perecn{
 position: relative;
 color: #BABABA;
}
.searce-perecn input{
   background-color:rgb(241, 241, 241);
   border-radius: 30px;
   width: 508px;
   height: 35px;
   border: none;
   
}
.searce-perecn i{
    
    position: absolute;
    top: 11px;
    right: 18px;
}
.nav-items{
    display: flex;
    list-style: none;
     gap: 10px;
}
.nav-items li a {
   text-decoration: none;
   color: #707070;
}
/* banner sytles */
.banner{
    background: rgb(254, 234, 233);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 30px;
    margin-left: 20px;
}
.banner-images{
    width: 402px;
    height: 378px;
}
.banner h2{
    font-size: 52px;
    color: rgb(31, 31, 31);
    font-weight: bold;
    margin: 5px auto;
}
.banner p{
    color: rgb(78, 78, 78);
    /* margin: 10px auto; */
   max-width: 356px;
   height: 70px;
}
.banner-price{
   color: rgb(255, 19, 111);
   font-size: 41px;
   font-weight: bolder;
   width: 117px;
   height: 67px;
}
/*Categories-cars-container  */
.section-Categories{
    padding: 64px 0px;
    
    max-width: 1480px;
    margin:0px 45px;
}
.Categories-cars-container{
    display: flex;
    justify-content: space-between;
   
}
.Categories-cars-container h3{
    color: wheat;
    font-weight: bold;
    width: 120px;
    height: 54px;
   
}
.Categories-cars-container img{
    width: 68.21px;
    height: 90px;
}
.Categories-watch{
 background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
 width: 359px;
 height: 100px;
 display: flex ;
 align-items: center;
 justify-content: space-between;
 border-radius: 10px;
margin: 0 0 0 10px;
}
.Categories-bag{
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
     width: 359px;
 height: 100px;
 display: flex ;
 align-items: center;
 justify-content: space-between;
 border-radius: 10px;
}

.Categories-shoes{
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);
     width: 359px;
 height: 100px;
 display: flex ;
 align-items: center;
 justify-content: space-between;
 border-radius: 10px;
 }
 /* Shoes */
 .Shoes-main-sectino{
    margin: 0px 45px
    ;
 }
 .hasan{
    display: flex;
    justify-content: space-between;
 }
 .Shoes-main-sectino h2{
    width: 203px;
height: 54px;
 }
 .Shoes-card img{
width: 336px;
height: 202px
 }
.Shoes-card h3{
    width: 303px;
    height: 36px;
}
.Shoes-card p{
    width: 307px;
height: 52px;

}
.Shoes-card h5{
    /* width: 25px;
height: 26px; */
font-size: 24px;
font-weight: 500;
margin: 5px 0px;

}
.Shoes-button{
  background: rgb(0, 0, 0);
  color: wheat;
  width: 168px;
height: 52px;
border-radius: 5px;
}
/* Backpack */
.Backpack-main{
    margin: 98px 0px;
    justify-content: space-between;
}
.Backpack-main h2{
    width: 181px;
height: 54px;
font-size: 36px;
font-weight: 600;
}
.Backpack-main h5{
color: rgb(255, 157, 0);
width: 70px;
height: 20px;
font-size: 20px;
font-weight: 500;
}
.nurnobi{
    display: flex;
    justify-content: space-between;
    margin: 0px 45px;
}
.Backpack{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin: 0px 45px;
}
.Backpack h3{
    width: 303px;
height: 36px;
font-size: 24px;
font-weight: 600;
}
.Backpack h5{
    /* width: 65px;
height: 36px; */
font-size: 24px;
font-weight: 500;
}
.Backpack p{
    width: 307px;
height: 52px;
    font-size: 16px;
font-weight: 400;
}
.Backpack img{
    width: 290px;
height: 290px;

}
/* specials */

.specials h3{
    color: rgb(31, 31, 31);
    font-size: 30px;
font-weight: 600;
margin: 10px auto;
}
.specials p{
    font-size: 16px;
font-weight: 500;
color: rgb(112, 112, 112);
}
.contatax{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red;
    */
    margin: 0px 45px;
    margin:auto;
}.button-email button{
      background: linear-gradient(180.00deg, rgb(255, 88, 155) 0.004%,rgb(255, 19, 111) 100.004%);
      color: wheat;
      width: 100px;
      height: 40px;
      border: none;
      border-radius: 10px;
      font-size: 20px;
}
.ali{
    width: 194px;
height: 36px;
}
